# {{ project_name }}

[![PyPI version](https://badge.fury.io/py/{{ project_name }}.svg)](https://badge.fury.io/py/{{ project_name }})

## Installation

```bash
uv add {{ project_name }}
```

---

*This project was created from [iloveitaly/python-package-template](https://github.com/iloveitaly/python-package-template)*
