[![Release Notes](https://img.shields.io/github/release/{{ github_username }}/{{ project_name }})](https://github.com/{{ github_username }}/{{ project_name }}/releases)
[![Downloads](https://static.pepy.tech/badge/{{ project_name }}/month)](https://pepy.tech/project/{{ project_name }})
[![Python Versions](https://img.shields.io/pypi/pyversions/{{ project_name }})](https://pypi.org/project/{{ project_name }})
![GitHub CI Status](https://github.com/{{ github_username }}/{{ project_name }}/actions/workflows/build_and_publish.yml/badge.svg)
[![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT)

# {{ project_name }}

## Installation

```bash
uv add {{ project_name }}
```

---

*This project was created from [iloveitaly/python-package-template](https://github.com/iloveitaly/python-package-template)*