name: Build and Publish to PyPI
on:
  push:
    branches:
      - main
      - master
  pull_request: {}

env:
  # avoid build failures due to flaky pypi
  PIP_DEFAULT_TIMEOUT: 60
  PIP_RETRIES: 5
{% if include_postgres %}
  DATABASE_HOST: localhost
{% endif %}
  # required otherwise github api calls are rate limited
  GITHUB_TOKEN: ${{"{{"}} secrets.GITHUB_TOKEN {{"}}"}}

jobs:
  publish:
    runs-on: ubuntu-latest
    needs: [release-please]
    if: needs.release-please.outputs.release_created
    permissions:
      contents: read
{% if publish_docker_image %}
      packages: write
{% endif %}
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - uses: iloveitaly/github-action-direnv-load-and-mask@master
      - run: uv build
      - run: uv publish

{% if publish_docker_image %}
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{"{{"}} github.actor {{"}}"}}
          password: ${{"{{"}} secrets.GITHUB_TOKEN {{"}}"}}

      - name: Build and push Docker image
        uses: iloveitaly/github-action-railpack@master
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{"{{"}} github.repository {{"}}"}}:latest,ghcr.io/${{"{{"}} github.repository {{"}}" }}:${{"{{"}} needs.release-please.outputs.tag_name {{"}}"}}
{% endif %}

  release-please:
    runs-on: ubuntu-latest
    needs: [build]
    outputs:
      release_created: ${{"{{"}} steps.release.outputs.release_created {{"}}"}}
      tag_name: ${{"{{"}} steps.release.outputs.tag_name {{"}}"}}
      version: ${{"{{"}} steps.release.outputs.version {{"}}"}}
    permissions:
      contents: write
      issues: write
      # NOTE this permission requires configuration to be set on the repo, check `just github_repo_permissions_create`
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        env:
          MISE_ENV: ci
      - uses: iloveitaly/github-action-direnv-load-and-mask@master
      - run: uv sync
      - run: just lint

  build:
    needs: lint
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: direnv allow . && direnv export gha >> "$GITHUB_ENV"{% if include_postgres %}
      - run: docker compose up -d --wait{% endif %}
      - run: uv sync

      # `uv run` prefix is required since the venv is not activated

      - name: Make sure the CLI runs properly
        run: uv run ${{"{{"}} github.event.repository.name {{"}}"}} --help
      - run: just test
